body {
  background-color: #2C272E;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181D31;
}

.icon {
  font-size: 20px;
  color: #ffffff;
}

.textTurns {
  font-size: 100px;
  color: #FFB830;
}

.btnReload {
  background-color: #181D31;
  color: #FBF46D;
  font-size: 30px;
}

.textWon {
  /* background-color: #181D31; */
  color: #FF5F7E;
  font-size: 50px;
}
