.App {
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: #FFAB4C;
  background-color: #2C272E;
}

.Count {
  color: cornflowerblue;
  font-size: 100px;
}

button {
  color: #ffffff;
  padding: 20px 25px;
  margin: 10px;
  font-size: 20px;
  text-transform: uppercase;
  width: 300px;
  border-radius: 10px;
  background-color: #0A1931;
}
